.divNotification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color:#df7a5e ;
}
.divNotification .iconCloseNotification{
    font-size: 1.2em;
    cursor: pointer;
}
.divNotification h1{
    font-size: 0.9em;
    color:#0b0c0f ;
    font-weight: 600;
}
.divNotification h1 span{
    font-weight: 800;
}

@media screen and (max-width: 1000px) {
    .divNotification{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3%;
        background-color:#df7a5e ;
    }
    .divNotification .iconCloseNotification{
        font-size: 3em;
        margin-left: 5%;
    }    
    .divNotification h1{
        font-size: 0.9em;
        color:#0b0c0f ;
        font-weight: 600;
    }
    .divNotification h1 span{
        font-weight: 800;
    } 
}