nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1%;
    border-bottom: 1px solid #333333;
    background-color: #0b0c0f;
}

nav .titleNav{
    color: #df7a5e;
    font-weight: 600;
    font-size: 0.9em;
}
nav .titleNav:hover{
    text-decoration: none;
}
nav a{
    color: #e3e3e3;
}
nav a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 3%;
        border-bottom: 1px solid #333333;
        background-color: #0b0c0f;
    } 
}