.notfound{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #c7c7c7;
    height: auto;
    border-radius: 0.6rem;
    padding: 4%;
}

.notfound button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
    border: 1px solid #c7c7c7;
    border-radius: 0.6rem;
    padding: 5%;
}

.notfound button:hover{
    background-color: #c7c7c7;
}